$font-stack: "Monaspace Neon", monospace;

@font-face {
  font-family: "Monaspace Neon";
  src: url("/fonts/MonaspaceNeon-Light.woff2") format("woff2"),
    url("/fonts/MonaspaceNeon-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("/fonts/MonaspaceNeon-Regular.woff2") format("woff2"),
    url("/fonts/MonaspaceNeon-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("/fonts/MonaspaceNeon-Medium.woff2") format("woff2"),
    url("/fonts/MonaspaceNeon-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("/fonts/MonaspaceNeon-SemiBold.woff2") format("woff2"),
    url("/fonts/MonaspaceNeon-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("/fonts/MonaspaceNeon-Bold.woff2") format("woff2"),
    url("/fonts/MonaspaceNeon-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Monaspace Neon VF";
  src: url("/fonts/MonaspaceNeon-VF.woff2") format("woff2-variations"),
    url("/fonts/MonaspaceNeon-VF.woff") format("woff-variations");
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}
