---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
    <p>
        Built with <a href="https://astro.build/">Astro</a>, using
        <a href="https://monaspace.githubnext.com/">Monaspace Fonts</a>,
        <a href="https://owickstrom.github.io/the-monospace-web/">MONOSPACE WEB</a> CSS, and <a href="https://necolas.github.io/normalize.css/">normalize.css</a>.
    </p>
</BaseLayout>
