---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
    <p>
        Built with <a href="https://astro.build/">Astro</a>, using
        <a href="https://monaspace.githubnext.com/">Monaspace Fonts</a>
        and
        <a href="https://owickstrom.github.io/the-monospace-web/">MONOSPACE WEB</a> CSS
    </p>
</BaseLayout>
