---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
    <p>
        I do not respond on my social media accounts.
        <ul>
            <li><a href="https://github.com/arwn">github</a></li>
            <li><a href="https://mastodon.sdf.org/@arwn">mastodon</a></li>
            <li><a href="https://x.com/ArenWindham">twitter</a></li>
            <li><a href="https://www.linkedin.com/in/arwn/">linkedin</a></li>
        </ul>
    </p>
</BaseLayout>
