---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPostList from "../components/BlogPostList.astro"


import { Image } from 'astro:assets'
import mountains from '../images/mountains.png'
---

<BaseLayout>
    <Image src={mountains} alt="dithered mountains" loading='eager'/>
    <p>Welcome to my website.</p>

    <BlogPostList />
</BaseLayout>
