---
import Navigation from "../components/Navigation.vue";
import Footer from "../components/Footer.vue";
import '../styles/monospace.css'
const { pageTitle } = Astro.props;
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
</head>
<style>
/* this crap gets the footer to work (I LOVE CSS 🥰) */
body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
</style>
<body>
    <Navigation />
    <main>
    <slot />
    </main>
    <Footer />
</body>
</html>
